/build/
/build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
*.ninja
.ninja_deps
.ninja_log
*.a
*.so
*.o
*.out
*_autogen/
*.user
.vscode/
*~
*.swp
*.tmp
*.AppImage
*.zsync
